body {
            font-family: Arial;
            text-align: center;
            background: #f2f2f2;
        }

        .grid {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
            flex-wrap: wrap;
        }

        .card {
            width: 230px;
            background: white;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 10px #ccc;
        }

        .card img {
            width: 120px;
            margin-top: 10px;
        }

        .valor {
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
        }